@page "/"
@inject IHttpContextAccessor _httpContextAccessor;
@inject NavigationManager NavigationManager;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

MyIP:@IP

<button @onclick="@(()=> NavigationManager.NavigateTo("", true))">reload</button>

@code {
    string IP = "";

    /// <summary>
    /// 頁面載入完成事件
    /// </summary>
    /// <param name="firstRender">是否第一次載入</param>
    /// <returns></returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IP = _httpContextAccessor.HttpContext?.Connection.RemoteIpAddress?.ToString();

            StateHasChanged();
        }
    }
}
